<%= error_messages_for 'forum'%>
<p><label for="name">Name</label><br/>
   <%= text_field 'forum', 'name'%></p>
<p><label for="description">Description</label><br/>
   <%= text_area 'forum', 'description'%></p>  