<h1>Hi <%=h @user.fullname %> Friends you may know</h1>
<table>
	 <% @friends.each do |f| %>
	 <%@follower = Follower.find_by_name_and_followeruserid(@user.name,f.id)%>
		<%if f.name != @user.name && @follower == nil%>
	  				<tr bgcolor="#dddddd">
    					<td ><%=h  f.name %></td>
							<td ><%=h link_to 'Accept', :controller => 'followers' ,:action => 'acceptFriend',:id => f %></td>
					<%end%>
				<%end%>
			</table>	
<p>
	<%=h link_to "Back" , :action=> 'userlogin' %>
</p>	