  <h1>Reply to this post</h1> 
  <table>
  	<tr bgcolor="#eeeeee"><td>
   <%=h @post.posttext %>
   </td>
    </tr>
	<tr><td>
	<% form_tag   do %>
	<%= text_field_tag :posttext, params[:posttext] %> <!--need to find how to make it blank -->
	<%= submit_tag "Reply", :action => 'userreply' %>
   <% end %>
   </td>
   </tr>
  </table>

<p>
	<%=h link_to "Back" , :action=> 'userlogin' %>
</p>