<!--[form:course]-->
<p><label for="course_name">Course Name</label><br/>
<%= text_field 'course', 'name'  %></p>
<p><label for="course_directory_path">Course Directory</label><br/>
<%= text_field 'course', 'directory_path'  %></p>
<p><label for="course_info">Course Information</label><br/>
<%= text_field 'course', 'info'  %></p>
<!-- E03 task list functionality -->
 <p><label for="course_cdate">Number of days to show completed tasks in task list:</label><br/>
 <%= text_field 'course', 'cdate'  %></p>
<!-- E03 task list functionality end -->

<!--[eoform:user]-->
<br/>
