<div id="header">
		<h1 id="logo-text">NCSU TWITTER</h1>
		<h2 id="slogan">Sam and Anup's Brilliant Answer to Twitter</h2>
		<!-- <div id="header-links">
			<p> <% if @mode == -1 %>
				<%= link_to "Log In", :controller => :admin, :action => "login" %>
				<!-- <%= link_to "Sign Up" , :controller => :users, :action => 'new' %> -->
				<% else %>
				
				<%= "Welcome #{@user}!" %>
				<%= link_to "Log out?", :controller => 'home', :action => 'logout' %>
				<% end %>
			</p>
		</div> -->
	</div>