<div>
    <div style="font-size:large;">
        <b>
            <label id="staggered_label" style="display:none">
                Deadlines for chapter 1
            </label>
        </b>
    </div>
    <br/>
    <br/>
    <TABLE class="exp">
        <TR>
            <TH>
                Deadline
            </TH>
            <TH>
                Date & time
            </TH>
        </TR>
        <TR>
            <TD ALIGN=LEFT WIDTH=20%>
                Submission deadline
            </TD>
            <TD ALIGN="CENTER">
                <input type="text" id="submit_deadline_due_at" name ="microtask[submission_deadline]"/><img src="/images/cal.gif" onClick="NewCal('submit_deadline_due_at','YYYYMMDD',true,24); return false;"/>
            </TD>
        </TR>
    </TABLE>
    <table class="exp" id=extra_deadlines>
    </table>
</div>
<br/>
<br/>
<script>
    get_assignment_startdate();
</script>
