<p>
  <b>Username:</b>
  <%=h @follower.name %>
</p>

<p>
  <b>Followeruserid:</b>
  <%=h @follower.followeruserid %>
</p>


<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>